fastapi==0.115.6
uvicorn[standard]==0.32.1
tensorflow==2.18.1
numpy==1.26.4
pydantic==2.10.3
python-multipart==0.0.12
scikit-learn==1.5.2
matplotlib==3.9.2
pandas==2.2.3
requests==2.32.3
aiofiles==24.1.0
Pillow==11.0.0
opencv-python==4.10.0.84